output/check linked list if circular ornot
output/reverse a string using stack
output/jat
output/del the middle of stack
output/push at bottom of stack
output/reverse a stack
output/top element in the bottom stack
output/insert atbottomstack
output/sort the stack
output/Queque formation
output/queue formation 
output/queue formation 
